.fa-spin {
  animation: fa-spin 2s infinite linear;
}

.span-obrigatorio {
  color: #dc3545;
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}